@page "/"
@using ZoomersClient.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Shared.Models.DTOs
@inject SpeechSynthesis SpeechSynthesis
@inject IJSRuntime js

<div class="row form-inline">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label>
                Name:
                <input @bind="Name" class="form-control mx-2" />                
            </label>
             <button class="btn btn-outline-dark mr-4" @onclick="RandomLobby">
                <span class="oi oi-loop-square" aria-hidden="true"></span>
            </button>        
            <label>
                Rounds:
                <input type="number" min="1" max="5" @bind="Rounds" class="form-control mx-2" />
            </label>                
        </div>
    </div>
    <div class="">

    </div>
    <div class="col-md-6">
        @if(Voices != null)
        {
            <div class="form-group">
                <label>
                    Voice:
                    <select @bind="SelectedVoice" class="form-control mx-2">
                        <option value="">None</option>
                    @foreach(var voice in Voices)
                    {
                        <option value="@voice.Lang">@voice.Name (@voice.Lang)</option>
                    }
                    </select>
                </label>
                <button class="btn btn-info mx-2" @onclick="PreviewVoice">Preview</button>
                <button class="btn btn-success" @onclick="CreateGame" disabled="@(string.IsNullOrEmpty(Name))">Create Game</button>
            </div>            
        }
        
    </div>
</div>

<hr>

@if (Games.Any())
{
    <div id="games">
        <h3>Games</h3>
        <div class="row">
        @foreach (var game in Games)
        {
            <div class="col-3 p-2">
                <div class="lobby-game @(game.State.ToString().ToLower())">
                    <div class="row px-3">
                        <div class="col p-2">
                            <a href="game/@game.Id">@game.Name</a>
                            <br />
                            <label>Players: @(game.Players?.Count ?? 0)</label>
                            <br />
                            <span clas="text-secondary">@game.Voice</span>
                        </div>
                        <div class="col-4 p-2 text-right">
                            <button class="btn btn-danger" @onclick="@(e => OnClickDeleteGame(e, game.Id))"><span class="oi oi-trash"></span></button>
                            <br />
                            <br />
                            <span class="text-secondary">@game.State.ToString()</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>    
    </div>
}


@code {
    private string Name { get; set; }
    private int Rounds { get; set; }

    private IEnumerable<Game> Games = new List<Game>();
    IEnumerable<SpeechSynthesisVoice> Voices;
    private string SelectedVoice { get; set; }

    protected override void OnInitialized()
    {
        Rounds = 2;        
    }

    private async Task CreateGame()
    {
        var response = await Http.PostAsJsonAsync<CreateGameDto>("Games", new CreateGameDto { Name = Name, Voice = SelectedVoice, Rounds = Rounds });

        var game = await response.Content.ReadFromJsonAsync<Game>();

        NavigationManager.NavigateTo($"game/{game.Id}");
    }    

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.Voices = await this.SpeechSynthesis.GetVoicesAsync();

            await LoadGamesAsync();            
            
            this.StateHasChanged();
        }
    }

    private async Task LoadGamesAsync()
    {
        var result = await Http.GetFromJsonAsync<Game[]>("Games");
                    
        Games = result;
        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/ku_chung.mp3");    
    }

    private void RandomLobby()
    {
        Name = NameHelper.GetRandomLobbyName();
        var r = new Random();
        SelectedVoice = Voices.ToArray()[r.Next(Voices.Count())].Lang;

        PreviewVoice();

        StateHasChanged();
    }

    private void PreviewVoice()
    {
        if (!string.IsNullOrEmpty(SelectedVoice))
        {
            var text = !string.IsNullOrEmpty(this.Name) ? $"Lets play the game with a lobby named {this.Name}" : "This is how I will sound throughout the game";
            var utterancet = new SpeechSynthesisUtterance {
                Text = text,
                Lang = SelectedVoice, // BCP 47 language tag
                Pitch = 1.0, // 0.0 ~ 2.0 (Default 1.0)
                Rate = 1.0, // 0.1 ~ 10.0 (Default 1.0)
                Volume = 1.0 // 0.0 ~ 1.0 (Default 1.0)
            };
            this.SpeechSynthesis.Speak(utterancet);
        }
    }

    private async Task OnClickDeleteGame(MouseEventArgs eventArgs, Guid id)
    {
        Console.WriteLine("delete ? " + id.ToString());

        var result = await Http.DeleteAsync($"Games/{id}");

        await LoadGamesAsync();
    }
}