@page "/play/{id}"
@inject HttpClient Http
@layout PlayerLayout
@using Microsoft.AspNetCore.SignalR.Client
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using ZoomersClient.Shared.Models.Enums
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if(Game != null && Player != null && Game.CurrentPlayer != null)
{
    <div class="row">
        <div class="col-10">
            <h1>@Game.Name</h1>
        </div>
        <div class="col-2 justify-content-end">
            <PlayerIconButton Icon="@Player.Icon" BackgroundColor="@Player.BackgroundColor" Class="rotate-in-center mt-2"></PlayerIconButton>
        </div>
    </div>    
    
    @if(CurrentQuestion != null && Game.CurrentPlayer.Id != Player.Id && !AnswerSubmitted)
    {        
        <div class="@((AnswerSubmitted)? "slide-out-fwd-center": "swing-in-top-fwd")">
            
            <p>@CurrentQuestion.Question</p>

            <div class="row my-4">
                <div class="col">
                    <input @bind-value="Answer" class="form-control" />
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <button class="btn btn-success w-100 text-center" @onclick="SubmitAnswer" disabled="@AnswerSubmitted">SUBMIT</button>
                </div>
            </div>
        </div>
    }
    @if (AnswerSubmitted || Game.CurrentPlayer.Id == Player.Id && !ShowQuestionCompletePhase)
    {
        <div class="row">
            <div class="col h4">
                @StatusMessage
            </div>
        </div>
    }
    @if (ShowQuestionCompletePhase)
    {
        <h4>You have 30 seconds to guess who said what:</h4>

        <AnswerPanel Players="@Game.Players" Answers="@Game.AnsweredQuestions" CurrentPlayer="@Game.CurrentPlayer" SubmitAnswers="@((a) => SubmitQuestionCompleteAnswer(a))" Enabled="@(!QuestionCompleteAnswerSubmitted)"></AnswerPanel>        
    }
}
else 
{
    <LoadingMessage Message="Loading Game..."></LoadingMessage>
}

@code {
    private HubConnection hubConnection;

    [Parameter]
    public string Id { get; set; }
    public Player Player { get; set; }
    public string Answer { get; set; }
    public string StatusMessage { get; set; }

    public bool AnswerSubmitted { get; set; }
    public PlayState State { get; set; }

    public Game Game { get; set;}
    public WordPlayQuestion CurrentQuestion { get; set; }
    public bool ShowQuestionCompletePhase { get; set; }
    public bool QuestionCompleteAnswerSubmitted { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        Game = await Http.GetFromJsonAsync<Game>($"Games/{Id}");
        if (Game == null || Game.State == GameState.Ended || Game.State == GameState.Lobby)
        {
            NavigationManager.NavigateTo("/join");
        }

        Player = await GetPlayerFromStorageAsync();
        
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to other things
        hubConnection.On<Game, WordPlayQuestion, Player>("QuestionReady", (game, question, player) => {               
            // reset UI
            Game = game;
            CurrentQuestion = question;
            ShowQuestionCompletePhase = false;
            QuestionCompleteAnswerSubmitted = false;
            Answer = "";
            AnswerSubmitted = false;
            StatusMessage = "Hang tight while others submit their answers...";

            StateHasChanged();
        });

        hubConnection.On<Game, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {            
            StatusMessage = phrase.Text;
            Game = game;
            if (game.CurrentPlayer.Id == Player.Id)
            {
                ShowQuestionCompletePhase = true;
            }
            StateHasChanged();
        });  
        
        hubConnection.On<bool, List<AnsweredQuestion>>("QuestionSummaryStarted", (timeExpired, currentPlayerAnswers) => {            
            StatusMessage = "Check the screen for a summary of the question";
            StateHasChanged();
        });

        hubConnection.On<Game>("GameOver", (game) => {
            StatusMessage = "Game Over. Score is " + game.Players.FirstOrDefault(x => x.Id == Player.Id)?.Score;
            StateHasChanged();
        }); 

        // start hub
        await hubConnection.StartAsync();
        
        await hubConnection.SendAsync("UpdateConnectionId", Player.Id);
    }

    public async Task SubmitAnswer() {
        AnswerSubmitted = true;
        await hubConnection.SendAsync("AnswerQuestion", Game.Id, CurrentQuestion.Id, Player.Id, Answer);
        StateHasChanged();
    }

    public async Task SubmitQuestionCompleteAnswer(List<AnsweredQuestion> CurrentPlayerAnswers)
    {
        QuestionCompleteAnswerSubmitted = true;
        ShowQuestionCompletePhase = false;

        await hubConnection.SendAsync("QuestionCompletedAnswer", Game.Id, false, CurrentPlayerAnswers);
        
        Console.WriteLine("Question Complete Submitted");
        StateHasChanged();
    }

    public async Task<Player> GetPlayerFromStorageAsync()
    {
        var playerExists = await localStore.ContainKeyAsync("player");
        if (playerExists)
        {
            var player = await localStore.GetItemAsync<Player>("player");

            return player;
        }
        
        throw new Exception("Player not found!");        
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}