@page "/play/{id}"
@inject HttpClient Http
@layout PlayerLayout
@using Microsoft.AspNetCore.SignalR.Client
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using ZoomersClient.Shared.Models.Enums
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if(Game != null && Player != null && Game.CurrentPlayer != null)
{
    <div class="row">
        <div class="col-10">
            <h1>@Game.Name</h1>
        </div>
        <div class="col-2 justify-content-end">
            <PlayerIconButton Icon="@Player.Icon" BackgroundColor="@Player.BackgroundColor" Class="rotate-in-center mt-2"></PlayerIconButton>
        </div>
    </div>    
    
    @if(State == PlayState.None)
    {
        <p>Could not determine game state.</p>
    }

    @if(State == PlayState.AnsweringQuestion)
    {        
        <div class="swing-in-top-fwd">
            
            <p>@CurrentQuestion.Question</p>

            <div class="row my-4">
                <div class="col">
                    <input @bind-value="Answer" class="form-control" />
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <button class="btn btn-success w-100 text-center" @onclick="SubmitAnswer">SUBMIT ANSWER</button>
                </div>
            </div>
        </div>
    }
    
    @if(State == PlayState.AnswerSubmitted)
    {
        <p>Congrats, your answer has been counted!</p>
    }

    @if(State == PlayState.CurrentPlayerWaiting)
    {
        <p>Sit tight while others answer the question.</p>

        @foreach(var answer in Game.AnsweredQuestions)
        {
            <div class="row my-2 bg-secondary">
                <div class="col-12">@answer.Answer</div>
            </div>
        }
    }

    @if (State == PlayState.CurrentPlayerAnswering)
    {
        <h4>@CurrentQuestion.Question</h4>

        <AnswerPanel Players="@Game.Players" Answers="@Game.AnsweredQuestions" CurrentPlayer="@Game.CurrentPlayer" SubmitAnswers="@((a) => SubmitQuestionCompleteAnswer(a))" Enabled="@true"></AnswerPanel>        
    }

    @if (State == PlayState.QuestionScores)
    {
        <p>Answers are in, check the main screen for scores!</p>
    }
    
    <div class="row">
        <div class="col h4">
            @StatusMessage
        </div>
    </div>
}
else 
{
    <LoadingMessage Message="Loading Game..."></LoadingMessage>
}

@code {
    private HubConnection hubConnection;

    [Parameter]
    public string Id { get; set; }
    public Player Player { get; set; }
    public string Answer { get; set; }
    public string StatusMessage { get; set; }

    public PlayState State { get; set; }

    public Game Game { get; set;}
    public bool PlayerIsCurrentPlayer => Game.CurrentPlayer?.Id == Player.Id;
    public bool EveryoneHasAnswered => Game.AnsweredQuestions.Count() != Game.Players.Count();
    public QuestionBase CurrentQuestion => Game.Questions.LastOrDefault();
    

    private void UpdatePlayState()
    {
        var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == Player.Id);

        // Console.WriteLine("Current Q:" + CurrentQuestion != null);
        // Console.WriteLine("Current Player = " + Game.CurrentPlayer?.Username);
        // Console.WriteLine("CurrentPlayer?: " + (PlayerIsCurrentPlayer).ToString() + " / " + Game.CurrentPlayer?.Id + " to " + Player.Id);
        // Console.WriteLine("Answered already? " + (playerAnswer != null).ToString());

        //todo: get CurrentQuestion from Game object
        if (CurrentQuestion != null && !PlayerIsCurrentPlayer && playerAnswer == null)
        {
            State = PlayState.AnsweringQuestion;
            StatusMessage = "What are you thinking?";
        }
        else if (CurrentQuestion != null && !PlayerIsCurrentPlayer && playerAnswer != null)
        {
            State = PlayState.AnswerSubmitted;
            StatusMessage = "Your answer is in.";
        }
        else if (PlayerIsCurrentPlayer && EveryoneHasAnswered)
        {
            State = PlayState.CurrentPlayerWaiting;
            StatusMessage = "Your up, but wait for others to answer.";
        }
        else if (PlayerIsCurrentPlayer)
        {
            State = PlayState.CurrentPlayerAnswering;
            StatusMessage = "You are on the spot, what ya got?";
        }
        Console.WriteLine("State - " + State.ToString());
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        Game = await Http.GetFromJsonAsync<Game>($"Games/{Id}");
        
        Player = await GetPlayerFromStorageAsync();

        if (Game == null || Game.State == GameState.Ended || Game.State == GameState.Lobby)
        {
            NavigationManager.NavigateTo("/join");
        }
        else
        {
            Console.WriteLine("~ Initialized state ~");
            UpdatePlayState();
        }

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to other things
        hubConnection.On<Game, WordPlayQuestion, Player>("QuestionReady", (game, question, player) => {               
            // reset UI
            Console.WriteLine("~ QuestionReady ~");            
            Console.WriteLine("...q = " + question.Question);

            Game = game;
            Answer = "";
            UpdatePlayState();

            StatusMessage = "Hang tight while others submit their answers...";

            StateHasChanged();
        });

        hubConnection.On<Game, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {            
            StatusMessage = phrase.Text;
            Game = game;
            
            Console.WriteLine("~ AnswersFinished ~");
            UpdatePlayState();

            if (game.CurrentPlayer.Id == Player.Id)
            {
                State = PlayState.CurrentPlayerAnswering;
            }
            StateHasChanged();
        });  
        
        hubConnection.On<bool, List<AnsweredQuestion>>("QuestionSummaryStarted", (timeExpired, currentPlayerAnswers) => {            
            StatusMessage = "Check the screen for a summary of the question";
            StateHasChanged();
        });

        hubConnection.On<Game>("GameOver", (game) => {
            StatusMessage = "Game Over. Score is " + game.Players.FirstOrDefault(x => x.Id == Player.Id)?.Score;
            StateHasChanged();
        }); 

        // start hub
        await hubConnection.StartAsync();
        
        await hubConnection.SendAsync("UpdateConnectionId", Player.Id);
    }

    public async Task SubmitAnswer() {
        State = PlayState.AnswerSubmitted;
        await hubConnection.SendAsync("AnswerQuestion", Game.Id, CurrentQuestion?.Id, Player.Id, Answer);
        StateHasChanged();
    }

    public async Task SubmitQuestionCompleteAnswer(List<AnsweredQuestion> CurrentPlayerAnswers)
    {
        // QuestionCompleteAnswerSubmitted = true;
        // ShowQuestionCompletePhase = false;
        State = PlayState.QuestionScores;

        await hubConnection.SendAsync("QuestionCompletedAnswer", Game.Id, false, CurrentPlayerAnswers);
        
        Console.WriteLine("Question Complete Submitted");
        StateHasChanged();
    }

    public async Task<Player> GetPlayerFromStorageAsync()
    {
        var playerExists = await localStore.ContainKeyAsync("player");
        if (playerExists)
        {
            var player = await localStore.GetItemAsync<Player>("player");

            return player;
        }
        
        throw new Exception("Player not found!");        
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();            
        }
    }
}