@inject HttpClient Http
@using Newtonsoft.Json
@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models.DTOs
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Shared.Models.Enums
@inject SpeechSynthesis SpeechSynthesis
@inject IJSRuntime js

@if (Game != null)
{
    @if(State != GameState.RoundEnding && State != GameState.RoundSummary && State != GameState.Ended)
    {
    <div class='row @((State != GameState.Ending)? "slide-in-blurred-bottom": "slide-out-fwd-center") @State.ToString().ToLower()'>
        <div class="col">            
            @if(CurrentQuestion != null)
            {
            <div class="jumbotron swing-in-top-fwd" id="current-question">
                @CurrentQuestion.Question
            </div>
            }  
            
            @if(Game.CurrentRound > 0 && Game.Questions.Count > 0){
                <div class="game-round text-dark">
                    Question @Game.Questions.Count
                </div>
            }
            
            <div class="row">                    
                @if(CurrentPlayer != null)
                {                    
                var answerClass = (State == GameState.SummaryIsEnding)? "swing-out-left-bck": "swing-in-left-fwd";
                <div class="col-4" id="on-deck">
                    <span class="@answerClass" id="on-deck__label">On Deck</span>
                    <PlayerBadge Player="CurrentPlayer" Class="@answerClass"></PlayerBadge>
                </div>                     
                }
                <div class='col-8 pt-3 @((State == GameState.SummaryIsEnding)? "slide-out-right": "slide-in-right")'>
                    <h3>@StatusMessage</h3>
                </div>
            </div>       

            <hr />
        </div>
    </div>   

        @if(State == GameState.QuestionSummary && Game.AnsweredQuestions.Any(x => !string.IsNullOrEmpty(x.CurrentPlayerAnswer)))
        {
            <Scorecard @ref="scorecardRef" Score="@CurrentPlayerScore" Class="slide-in-blurred-bottom"></Scorecard>
        }    
    }           
    else if (State == GameState.Ended)
    {
        <div class="row mb-4">
            <div class="col text-center">
                <h1 class="game-name swing-in-top-fwd">@Game.Name</h1>            
            </div>
        </div>
        <div class='row swing-in-left-fwd'>
            <div class="col">            
                <h2>Game Summary - Thanks for playing!</h2>
                <hr />
            </div>
        </div>
    }
        
    @if(UseTimers)
    {
        <Timer @ref="timerRef" Class="slide-in-blurred-bottom" TimeEllapsed="AnswersFinished"></Timer>
    }  
    
    @if(State == GameState.RoundSummary || State == GameState.RoundEnding)
    {
    var answerClass = (State == GameState.RoundEnding)? "swing-out-left-bck": "swing-in-left-fwd";
    <div class='row @answerClass'>
        <div class="col">            
            <h2>Round Summary</h2>
            <hr />
        </div>
    </div>    
    }

    @if(PlayersAnswered.Any() && (State == GameState.Playing || State == GameState.QuestionSummary || State == GameState.PlayerChoosing))
    {
    <div class="row">
        @foreach(var player in PlayersAnswered)
        {
            var answerClass = (State == GameState.SummaryIsEnding)? "slide-out-fwd-center": "slide-in-blurred-bottom";

            <div class="col-4 my-2 @answerClass">
                <PlayerBadge Player="@player" Class="">                        
                    @if(PlayerLove != null && PlayerLove.ContainsKey(player.Id))
                    {
                        <span class="flip-in-hor-bottom" style="color: goldenrod;">+ @PlayerLove[player.Id]</span>
                    } 
                </PlayerBadge>
                
                @if(State == GameState.QuestionSummary)
                {
                    var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id);

                    <PlayerAnswerResult Answer="@playerAnswer" CurrentPlayer="CurrentPlayer" Show="@(ScoreShown > PlayersAnswered.IndexOf(player))"></PlayerAnswerResult>
                }    
            </div>
        }
    </div>
    }

    @if(State == GameState.RoundSummary || State == GameState.RoundEnding || Game.State == GameState.Ended)
    {
        <Scores Game="Game"></Scores>

        @if(Game.State == GameState.Ended)
        {
            <div class="row mt-4">
                <div class="col text-center">
                    <button class="btn btn-success btn-lg" @onclick="ResetGameAsync">PLAY AGAIN</button>
                </div>
            </div>
        }
    }
}


@code {

    [Parameter]
    public GameDto Game { get; set; }
    [Parameter]
    public EventCallback<GameDto> OnGameReset { get; set; }
    [Parameter]
    public GameQuestionDto CurrentQuestion { get; set; }
    [CascadingParameter]
    public GameState State { get; set; }
    
    public PlayerDto CurrentPlayer { get; set; }
    public string StatusMessage { get; set; }    
    public List<PlayerDto> PlayersAnswered { get; set; }
    public Dictionary<Guid, int> PlayerLove { get; set; }
    public int CurrentPlayerScore { get; set; }
    private int ScoreShown { get; set; }

    private bool UseTimers { get; set; }

    private Timer timerRef { get; set; }
    private Scorecard scorecardRef { get; set; }
    
    private HubConnection hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        PlayersAnswered = new List<PlayerDto>();
                
        // connect to hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/wordplayhub"))
            .Build();

        // subscribe to game events             
        hubConnection.On<GameDto>("GameConnected", async (game) => {
            Game = game;

            // get player on deck, ask first question
            // Console.WriteLine(JsonConvert.SerializeObject(Game));

            // todo: figure out if we need to ask a question?
            // this only really handles mid-question refreshes UI states
            if (Game.Questions.Any())
            {
                Console.WriteLine("Its already a round per question");     

                Game = game;
                CurrentQuestion = game.Questions.Last();
                CurrentPlayer = game.Players.FirstOrDefault(x => x.OnDeck);
                PlayersAnswered = new List<PlayerDto>();
                State = GameState.Playing;
                CurrentPlayerScore = 0;
                ScoreShown = 0;
                StatusMessage = "";
                PlayerLove = new Dictionary<Guid, int>();

                // timerRef.ResetTimer();
                // timerRef.StartTimer(30);

                await js.InvokeVoidAsync("PlayAudioFile", "/sounds/whoosh_1.mp3");
                await Task.Delay(750);

                StateHasChanged();           
            }
            else
            {
                await hubConnection.SendAsync("AskQuestion", Game.Id, null);
            }
        });

        hubConnection.On<GameDto, GameQuestionDto, PlayerDto>("QuestionReady", async (game, question, player) => {   
            // reset UI            
            Game = game;
            CurrentQuestion = question;
            CurrentPlayer = player;
            PlayersAnswered = new List<PlayerDto>();
            State = GameState.Playing;
            CurrentPlayerScore = 0;
            ScoreShown = 0;
            StatusMessage = "";
            PlayerLove = new Dictionary<Guid, int>();

            // timerRef.ResetTimer();
            // timerRef.StartTimer(30);

            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/whoosh_1.mp3");
            await Task.Delay(750);

            StateHasChanged();

            SpeakPhrase(question.Question);
        });

        hubConnection.On<GameDto, PlayerDto>("QuestionAnswered", async (game, player) => {
            Game = game;
            PlayersAnswered.Add(player);

            await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/{player.Sound}.mp3");

            StateHasChanged();

            if (PlayersAnswered.Count >= Game.Players.Count - 1)
            {
                await AnswersFinished();
            }
        });

        hubConnection.On<GameDto, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {
            Game = game;
            StatusMessage = phrase.Text;
            StateHasChanged();
            SpeakPhrase(phrase.Text);
        });        
        
        hubConnection.On<bool, GameDto>("QuestionSummaryStarted", async (timeExpired, game) => {
            StatusMessage = "Time to see how you did";
            Game = game;
            State = GameState.QuestionSummary;
            StateHasChanged();
            var correctQuestions = 0;

            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/tada_1.mp3");

            foreach(var player in PlayersAnswered)
            {
                var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id);

                await Task.Delay(3000);
                ScoreShown++;
                Console.WriteLine($"{playerAnswer.Player.Username} said you would get {playerAnswer.Guess} correct");
                if (playerAnswer?.Answer == playerAnswer?.CurrentPlayerAnswer)
                {
                    correctQuestions++;
                    CurrentPlayerScore = CurrentPlayerScore + (100 * Game.CurrentRound);
                    await PlayRight();
                }
                else
                {
                    await PlayWrong();
                }
                Console.WriteLine("Showed " + player.Username + "'s answer");
                
                StateHasChanged();
            }
            
            await CheckBanterEngineAsync(CurrentPlayerScore, correctQuestions);

            // record score?
            await Task.Delay(4000);            
            await hubConnection.SendAsync("QuestionFinished", Game.Id, CurrentQuestion.Id, CurrentPlayerScore);
        });


        hubConnection.On<GameDto>("ProceedToNextQuestion", async (game) => {
            State = GameState.SummaryIsEnding;
            StateHasChanged();
            await Task.Delay(700);   
            Game = game;            
            StateHasChanged();
            
            await hubConnection.SendAsync("AskQuestion", Game.Id, null);
        });

        hubConnection.On<GameDto>("RoundOver", async (game) => {            
            Game = game;
            
            if(Game.State != GameState.Ended)
            {
                ScoreShown = 0;
                State = GameState.RoundSummary;
                StateHasChanged();
                
                await js.InvokeVoidAsync("PlayMusic", $"/sounds/round_end_music.mp3");

                var leader = Game.Players.OrderByDescending(x => x.Score).ThenBy(x => x.LoveScore).FirstOrDefault();

                await Task.Delay(4000);
                
                SpeakPhrase($"So far with {leader.Username} is in the lead with {leader.Score} points");

                var topPlayers = Game.Players.Where(x => x.Score == leader.Score);
                if(topPlayers.Where(x => x.Id != leader.Id).Count() > 0)
                {
                    var nextPlayer = topPlayers.Skip(1).First();
                    var phrase = (leader.LoveScore > nextPlayer.LoveScore)? $"{nextPlayer.Username} I would have said your name but you don't get as much love" : "It is anybody's game so lets begin the next round";
                    SpeakPhrase(phrase);
                    await Task.Delay(2000);
                }
                
                await Task.Delay(4500);
                State = GameState.RoundSummary;
                StateHasChanged();

                await Task.Delay(2000);

                await hubConnection.SendAsync("AskQuestion", Game.Id, null);
            }
        });

        hubConnection.On<GameDto>("GameOver", async (game) => {
            Console.WriteLine("GameOver on host");
            Game = game;
            ScoreShown = 0;
            StatusMessage = "Game Over";
            State = game.State; // GameState.Ending;
            StateHasChanged();

            SpeakPhrase("That wraps up this game. Let's check the scores.");

            await js.InvokeVoidAsync("PlayMusic", $"/sounds/game_end_music.mp3");
                        
            await Task.Delay(4000);

            if (Game.State == GameState.Ended)            
            {                
                var winner = Game.Players.OrderByDescending(x => x.Score).FirstOrDefault();

                SpeakPhrase($"With {winner.Score} points, the winner is " + winner.Username);
                
                await Task.Delay(2500);

                if (Game.Players.Sum(x => x.Score) == 0)
                {
                    SpeakPhrase("But you all need to learn more about each other");
                }
                if (Game.Players.Count(x => x.Score == winner.Score) > 1)
                {
                    var otherWinners = string.Join(", ", Game.Players.Where(x => x.Score == winner.Score && x.Id != winner.Id).Select(x => x.Username).ToArray());
                    SpeakPhrase($"Although there were others in the running. Congratulations, you are all winners {otherWinners}");
                }
                
                await Task.Delay(2500);            
                SpeakPhrase("Wait, who am I kidding, with Charles around we are all winners.  Happy Birthday Charles!");
            }
        }); 
        
        hubConnection.On<GameDto>("GameReset", async (game) => {
            Game = game;
            await OnGameReset.InvokeAsync(game);
        }); 

        // process the love
        hubConnection.On<PlayerDto, PlayerDto, AnswerReaction>("ReactionReceived", (fromPlayer, toPlayer, reaction) => {           
            if (PlayerLove.ContainsKey(toPlayer.Id))
            {
                PlayerLove[toPlayer.Id] += 1;
            }
            else
            {
                PlayerLove.Add(toPlayer.Id, 1);
            }
            StateHasChanged();
        });

        // start hub
        await hubConnection.StartAsync();
        
        // update connection and begin!
        await hubConnection.SendAsync("UpdateGameConnectionId", Game.Id);
    }

    public async Task AnswersFinished()
    {        
        // timerRef.ResetTimer();
        State = GameState.PlayerChoosing;
        // Console.WriteLine("Something told me to fire AnswersFinished");
        await hubConnection.SendAsync("AnswersFinished", Game.Id);
        StateHasChanged();
    }

    public void SpeakPhrase(string message)
    {
        if (this.SpeechSynthesis.Speaking)
        {
            this.SpeechSynthesis.Cancel();
        }
        
        this.SpeechSynthesis.Speak(new SpeechSynthesisUtterance() {
            Lang = Game.Voice,
            Text = message,
            Volume = 0.1
        });
    }
    
    async Task PlayWrong()
    {
        var r = new Random();
        var sound = r.Next(1,6);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/wrong_" + sound + ".mp3");
    }

    async Task PlayRight()
    {
        var r = new Random();
        var sound = r.Next(1,4);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/right_" + sound + ".mp3");
    }

    async Task CheckBanterEngineAsync(int currentPlayerScore, int correctQuestions)
    {
        var chanceOfBanter = new Random();
        var chance = 65;
        var threshold = 10;
        var spoken = 0;
        var delay = 2500;

        if (chanceOfBanter.Next(100) > chance && currentPlayerScore == 0 && Game.AnsweredQuestions.All(x => x.Guess == 0))
        {
            spoken++;
            SpeakPhrase("Its ok, nobody thought you would get it right");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance && correctQuestions == Game.AnsweredQuestions.Count && Game.AnsweredQuestions.Max(x => x.Guess) < correctQuestions)
        {
            spoken++;
            SpeakPhrase("You exceeded their expectations. Good job.");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance && correctQuestions > 0 && Game.AnsweredQuestions.Any(x => x.Guess == correctQuestions))
        {
            spoken++;
            var correctPlayer = Game.AnsweredQuestions.FirstOrDefault(x => x.Guess == correctQuestions);
            SpeakPhrase($"{correctPlayer.Player.Username} knew you would get that many correct. Points for them!");
            await Task.Delay(1500);
        }
        
        if (!Game.AnsweredQuestions.All(x => string.IsNullOrEmpty(x.CurrentPlayerAnswer))) {
            SpeakPhrase("Nobody had an answer? Strange...  Ok we will move onto the next question");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance)
        {
            spoken++;
            var lovelyPlayer = Game.Players.OrderByDescending(x => x.LoveScore).First();
            if (lovelyPlayer.LoveScore > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"{lovelyPlayer.Username}, they really love you out there" : $"{lovelyPlayer.Username} is feeling the love";
                SpeakPhrase(phrase);
            }
        }
        
        if (chanceOfBanter.Next(100) > chance)
        {
            spoken++;
            var hatedPlayer = Game.Players.OrderByDescending(x => x.HateScore).First();
            if (hatedPlayer.HateScore > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"You guys are giving {hatedPlayer.Username} a lot of crap" : $"{hatedPlayer.Username} may need an umbrella for all that poop";
                SpeakPhrase(phrase);
            }
        }

        if (chanceOfBanter.Next(100) > chance && spoken < 2)
        {
            spoken++;
            var lovingPlayer = Game.Players.OrderByDescending(x => x.LoveReactions).First();
            if (lovingPlayer.LoveReactions > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"{lovingPlayer.Username} is sharing the love" : $"So much love coming from {lovingPlayer.Username}";
                SpeakPhrase(phrase);
            }
        }

        if (chanceOfBanter.Next(100) > chance && spoken < 2)
        {
            var hatingPlayer = Game.Players.OrderByDescending(x => x.HateReactions).First();
            if (hatingPlayer.HateReactions > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"Why so much hate, {hatingPlayer.Username}?" : $"{hatingPlayer.Username} has a lot of poop to spread.";
                SpeakPhrase(phrase);
            }
        }
    }

    public async Task ResetGameAsync()
    {
        Console.WriteLine("Game restart clicked!");
        await hubConnection.SendAsync("ResetGame", Game.Id);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }    
}
