@inject HttpClient Http
@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject ZoomersClient.Shared.Services.GameService GameService
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Shared.Models.Enums
@inject SpeechSynthesis SpeechSynthesis
@inject IJSRuntime js

@if (Game != null)
{
    <div class='row @((State != GameState.Ending)? "slide-in-blurred-bottom": "slide-out-fwd-center")'>
        <div class="col">            
            @if(CurrentQuestion != null)
            {
            <div class="jumbotron swing-in-top-fwd" id="current-question">
                @CurrentQuestion.Question
            </div>
            }         
            <div class="game-round text-dark">
                Round @Game.CurrentRound, Question @Game.Questions.Count
            </div>

            <div class="row">                    
                @if(CurrentPlayer != null)
                {
                <div class="col-4">
                    <PlayerBadge Player="CurrentPlayer"></PlayerBadge>
                </div>                     
                }      
                <div class="col-8 pt-3">
                    <h3>@StatusMessage</h3>
                </div>
            </div>       

            <hr />
        </div>
    </div>   

    <div class='row @((State == GameState.Ending)? "slide-in-blurred-bottom": "slide-out-fwd-center")'>
        <div class="col">            
            <h2>Round Summary</h2>
            <hr />
        </div>
    </div>    
    
    @if(State == GameState.Playing && false)
    {
        <Timer @ref="timerRef" Class="slide-in-blurred-bottom" TimeEllapsed="AnswersFinished"></Timer>
    }  
    @if(State == GameState.Summary && CurrentPlayerAnswers.Any())
    {
        <Scorecard @ref="scorecardRef" Score="@CurrentPlayerScore" Class="slide-in-blurred-bottom"></Scorecard>
    }    

    @if(PlayersAnswered.Any() && State != GameState.Ending)
    {
        <div class="row">
        @foreach(var player in PlayersAnswered)
        {
            <div class="col my-2">
                <PlayerBadge Player="@player" Class="slide-in-blurred-bottom">
                    @if(PlayerLove != null && PlayerLove.ContainsKey(player.Id))
                    {
                        <span class="flip-in-hor-bottom">+ @PlayerLove[player.Id]</span>
                    }
                </PlayerBadge>
                
                @if(State == GameState.Summary)
                {
                    var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;
                    var currentPlayerAnswer = CurrentPlayerAnswers.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;

                    <PlayerAnswerResult PlayerAnswer="@playerAnswer" CurrentPlayer="CurrentPlayer" CurrentPlayerAnswer="@currentPlayerAnswer" Show="@(ScoreShown > PlayersAnswered.IndexOf(player))"></PlayerAnswerResult>
                }
    
            </div>
        }
        </div>
    }

    @if(State == GameState.Ending)
    {
        <div class="row">
        @foreach(var player in Game.Players.OrderBy(x => x.Score))
        {
            <div class="col-4 my-2">
                <PlayerBadge Player="player">
                    @if(ScoreShown > Game.Players.IndexOf(player))
                    {
                        <span class="summary-score text-pop-up-top">@player.Score</span>
                    }
                </PlayerBadge>                
            </div>
        }
        </div>

        @if(Game.State == GameState.Ended)
        {
            <div class="row mt-4">
                <div class="col text-center">
                    <button class="btn btn-success btn-lg" @onclick="ResetGameAsync">PLAY AGAIN</button>
                </div>
            </div>
        }
    }
}

@code {

    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback OnGameReset { get; set; }
    [CascadingParameter]
    public GameState State { get; set; }
    public Player CurrentPlayer { get; set; }
    public string StatusMessage { get; set; }
    public WordPlayQuestion CurrentQuestion { get; set; }
    public List<Player> PlayersAnswered { get; set; }
    public Dictionary<Guid, int> PlayerLove { get; set; }
    private Timer timerRef { get; set; }

    public List<AnsweredQuestion> CurrentPlayerAnswers { get; set; }
    public int CurrentPlayerScore { get; set; }
    private Scorecard scorecardRef { get; set; }
    private int ScoreShown { get; set; }
    
    private HubConnection hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        PlayersAnswered = new List<Player>();
                
        // connect to hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to game events             
        hubConnection.On<Game, WordPlayQuestion, Player>("QuestionReady", async (game, question, player) =>
        {   
            // reset UI            
            Game = game;
            CurrentQuestion = question;
            CurrentPlayer = player;
            CurrentPlayerAnswers = new List<AnsweredQuestion>();
            PlayersAnswered = new List<Player>();
            State = GameState.Playing;
            CurrentPlayerScore = 0;
            ScoreShown = 0;
            PlayerLove = new Dictionary<Guid, int>();

            // timerRef.ResetTimer();
            // timerRef.StartTimer(30);

            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/whoosh_1.mp3");
            await Task.Delay(750);

            StateHasChanged();

            SpeakPhrase(question.Question);
        });

        hubConnection.On<Game, Player>("QuestionAnswered", async (game, player) => {
            Game = game;
            PlayersAnswered.Add(player);

            await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/{player.Sound}.mp3");

            StateHasChanged();

            if (PlayersAnswered.Count >= Game.Players.Count - 1)
            {
                await AnswersFinished();
            }
        });

        hubConnection.On<Game, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {
            Game = game;
            StatusMessage = phrase.Text;
            StateHasChanged();
            SpeakPhrase(phrase.Text);
        });        
        
        hubConnection.On<bool, List<AnsweredQuestion>>("QuestionSummaryStarted", async (timeExpired, currentPlayerAnswers) => {
            StatusMessage = $"Time to see how you did";
            CurrentPlayerAnswers = currentPlayerAnswers;
            State = GameState.Summary;
            StateHasChanged();

            foreach(var player in PlayersAnswered)
            {
                var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;
                var currentPlayerAnswer = CurrentPlayerAnswers.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;

                await Task.Delay(3000);
                ScoreShown++;
                
                if (playerAnswer == currentPlayerAnswer)
                {
                    CurrentPlayerScore = CurrentPlayerScore + (100 * Game.CurrentRound);
                    await PlayRight();
                }
                else
                {
                    await PlayWrong();
                }
                
                StateHasChanged();
            }

            if (!currentPlayerAnswers.Any()) {
                SpeakPhrase("Nobody had an answer? Strange...  Ok we will move onto the next question");
            }

            // record score?
            await Task.Delay(5000);            
            await hubConnection.SendAsync("QuestionFinished", Game.Id, CurrentQuestion.Id, CurrentPlayerScore);
        });

        hubConnection.On<Game>("ProceedToNextQuestion", async (game) => {
            Game = game;            
            StateHasChanged();
            
            await hubConnection.SendAsync("AskQuestion", Game.Id);
        });

        hubConnection.On<Game>("RoundOver", async (Game) => {
            if(Game.State != GameState.Ended)
            {
                ScoreShown = 0;
                State = GameState.Ending;
                StateHasChanged();
                var leader = Game.Players.OrderByDescending(x => x.Score).FirstOrDefault();

                foreach(var player in Game.Players.OrderBy(x => x.Score))
                {
                    ScoreShown++;              
                    StateHasChanged();

                    await Task.Delay(1500);
                }

                if(Game.Players.Where(x => x.Score == leader.Score && x.Id != leader.Id).Count() <= 0)
                {
                    SpeakPhrase($"So far with {leader.Username} is in the lead with {leader.Score} points");
                }
                else
                {
                    SpeakPhrase("It is anybody's game so lets begin the next round");
                }
                
                await Task.Delay(5000);

                await hubConnection.SendAsync("AskQuestion", Game.Id);
            }
        });

        hubConnection.On<Game>("GameOver", async (game) => {
            Game = game;
            ScoreShown = 0;
            StatusMessage = "Game Over";
            State = GameState.Ending;
            StateHasChanged();


            SpeakPhrase("That wraps up this round of Word Play. Let's check the scores.");

            foreach(var player in Game.Players.OrderBy(x => x.Score))
            {
                ScoreShown++;              
                StateHasChanged();

                await Task.Delay(2000);
            }

            if (Game.State == GameState.Ended)            
            {
                var winner = Game.Players.OrderByDescending(x => x.Score).FirstOrDefault();

                SpeakPhrase($"With {winner.Score} points, the winner is " + winner.Username);

                await Task.Delay(2000);

                if (Game.Players.Sum(x => x.Score) == 0)
                {
                    SpeakPhrase("But you all need to learn more about each other");
                }
                if (Game.Players.Count(x => x.Score == winner.Score) > 1)
                {
                    var otherWinners = string.Join(", ", Game.Players.Where(x => x.Score == winner.Score && x.Id != winner.Id).Select(x => x.Username).ToArray());
                    SpeakPhrase($"Although there were others in the running. Congratulations, you are all winners {otherWinners}");
                }
            }
        }); 
        
        hubConnection.On<Game>("ResetGame", async (game) => {
            await OnGameReset.InvokeAsync();
        }); 

        // process the love
        hubConnection.On<Player, Player>("SendLove", (fromPlayer, toPlayer) => {
            if (State == GameState.Summary) {
                PlayerLove[toPlayer.Id] += 1;
            }
        });

        // start hub
        await hubConnection.StartAsync();
        
        // get player on deck, ask first question
        await hubConnection.SendAsync("AskQuestion", Game.Id);

        // await hubConnection.SendAsync("Subscribe", Id);
    }

    public async Task AnswersFinished()
    {        
        // timerRef.ResetTimer();
        State = GameState.PlayerChoosing;
        // Console.WriteLine("Something told me to fire AnswersFinished");
        await hubConnection.SendAsync("AnswersFinished", Game.Id);
        StateHasChanged();
    }

    private void SpeakPhrase(string message)
    {
        if (this.SpeechSynthesis.Speaking)
        {
            this.SpeechSynthesis.Cancel();
        }
        
        this.SpeechSynthesis.Speak(new SpeechSynthesisUtterance() {
            Lang = Game.Voice,
            Text = message
        });
    }
    
    async Task PlayWrong()
    {
        var r = new Random();
        var sound = r.Next(1,3);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/wrong_" + sound + ".mp3");
    }

    async Task PlayRight()
    {
        var r = new Random();
        var sound = r.Next(1,4);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/right_" + sound + ".mp3");
    }

    public async Task ResetGameAsync()
    {
        await hubConnection.SendAsync("ResetGame", Game.Id);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }    
}
