@inject HttpClient Http
@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject ZoomersClient.Shared.Services.GameService GameService
@using Toolbelt.Blazor.SpeechSynthesis
@using ZoomersClient.Shared.Models.Enums
@inject SpeechSynthesis SpeechSynthesis
@inject IJSRuntime js

@if (Game != null)
{
    @if(State != GameState.RoundEnding && State != GameState.RoundSummary && State != GameState.Ended)
    {
    <div class='row @((State != GameState.Ending)? "slide-in-blurred-bottom": "slide-out-fwd-center") @State.ToString().ToLower()'>
        <div class="col">            
            @if(CurrentQuestion != null)
            {
            <div class="jumbotron swing-in-top-fwd" id="current-question">
                @CurrentQuestion.Question
            </div>
            }  
            
            @if(Game.CurrentRound > 0 && Game.Questions.Count > 0){
                <div class="game-round text-dark">
                    Round @Game.CurrentRound, Question @Game.Questions.Count
                </div>
            }
            
            <div class="row">                    
                @if(CurrentPlayer != null)
                {                    
                var answerClass = (State == GameState.SummaryIsEnding)? "swing-out-left-bck": "swing-in-left-fwd";
                <div class="col-4" id="on-deck">
                    <span class="@answerClass" id="on-deck__label">On Deck:</span>
                    <PlayerBadge Player="CurrentPlayer" Class="@answerClass"></PlayerBadge>
                </div>                     
                }
                <div class='col-8 pt-3 @((State == GameState.SummaryIsEnding)? "slide-out-right": "slide-in-right")'>
                    <h3>@StatusMessage</h3>
                </div>
            </div>       

            <hr />
        </div>
    </div>   

        @if(State == GameState.QuestionSummary && Game.CurrentPlayerAnswers.Any())
        {
            <Scorecard @ref="scorecardRef" Score="@CurrentPlayerScore" Class="slide-in-blurred-bottom"></Scorecard>
        }    
    }           
    else if (State == GameState.Ended)
    {
        <div class="jumbotron swing-in-top-fwd" id="current-question">
            Thanks for playing!
        </div>
        <div class='row swing-in-left-fwd'>
            <div class="col">            
                <h2>Game Summary</h2>
                <hr />
            </div>
        </div>
    }
        
    @if(false)
    {
        <Timer @ref="timerRef" Class="slide-in-blurred-bottom" TimeEllapsed="AnswersFinished"></Timer>
    }  
    
    @if(State == GameState.RoundSummary || State == GameState.RoundEnding)
    {
    var answerClass = (State == GameState.RoundEnding)? "swing-out-left-bck": "swing-in-left-fwd";
    <div class='row @answerClass'>
        <div class="col">            
            <h2>Round Summary</h2>
            <hr />
        </div>
    </div>    
    }

    @if(PlayersAnswered.Any() && (State == GameState.Playing || State == GameState.QuestionSummary || State == GameState.PlayerChoosing))
    {
    <div class="row">
        @foreach(var player in PlayersAnswered)
        {
            var answerClass = (State == GameState.SummaryIsEnding)? "slide-out-fwd-center": "slide-in-blurred-bottom";

            <div class="col-4 my-2 @answerClass">
                <PlayerBadge Player="@player" Class="">                        
                    @if(PlayerLove != null && PlayerLove.ContainsKey(player.Id))
                    {
                        <span class="flip-in-hor-bottom" style="color: goldenrod;">+ @PlayerLove[player.Id]</span>
                    } 
                </PlayerBadge>
                
                @if(State == GameState.QuestionSummary)
                {
                    var playerAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;
                    var currentPlayerAnswer = Game.CurrentPlayerAnswers.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;

                    <PlayerAnswerResult PlayerAnswer="@playerAnswer" CurrentPlayer="CurrentPlayer" CurrentPlayerAnswer="@currentPlayerAnswer" Show="@(ScoreShown > PlayersAnswered.IndexOf(player))"></PlayerAnswerResult>
                }    
            </div>
        }
    </div>
    }

    @if(State == GameState.RoundSummary || State == GameState.RoundEnding || Game.State == GameState.Ended)
    {
        <div class="row">
        @foreach(var player in Game.Players)
        {
            <div class="col-4 my-2">
                <div class='player-score @((Game.Players.IndexOf(player) == 0)? "winning-player" : "")'>
                    <PlayerBadge Player="player">
                        @if(ScoreShown > Game.Players.IndexOf(player))
                        {
                            <span class="summary-score">@player.Score</span>
                        }
                    </PlayerBadge>
                    <div class="row m-2">
                        @if(player.CorrectGuesses > 0)
                        {
                            <div class="col-12">
                                <label class="text-dark">Correct Guesses: </label> @player.CorrectGuesses
                            </div>                    
                        }         
                        @if(player.LoveScore > 0)
                        {
                            <div class="col-6">
                                <label class="text-dark">Love gained: </label> @player.LoveScore
                            </div>                    
                        }         
                        @if(player.HateScore > 0)
                        {
                            <div class="col-6">
                                <label class="text-dark">Hate gained: </label> @player.HateScore
                            </div>                    
                        }   
                        @if(player.LoveReactions > 0)
                        {
                            <div class="col-6">
                                <label class="text-dark">Love given: </label> @player.LoveReactions
                            </div>                    
                        }         
                        @if(player.HateReactions > 0)
                        {
                            <div class="col-6">
                                <label class="text-dark">Hate given: </label> @player.HateReactions
                            </div>                    
                        }   
                    </div>
                </div>                              
            </div>
        }
        </div>

        @if(Game.State == GameState.Ended)
        {
            <div class="row mt-4">
                <div class="col text-center">
                    <button class="btn btn-success btn-lg" @onclick="ResetGameAsync">PLAY AGAIN</button>
                </div>
            </div>
        }
    }
}


@code {

    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback<Game> OnGameReset { get; set; }
    [CascadingParameter]
    public GameState State { get; set; }
    public Player CurrentPlayer { get; set; }
    public string StatusMessage { get; set; }
    [Parameter]
    public WordPlayQuestion CurrentQuestion { get; set; }
    public List<Player> PlayersAnswered { get; set; }
    public Dictionary<Guid, int> PlayerLove { get; set; }
    private Timer timerRef { get; set; }

    public int CurrentPlayerScore { get; set; }
    private Scorecard scorecardRef { get; set; }
    private int ScoreShown { get; set; }
    
    private HubConnection hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        PlayersAnswered = new List<Player>();
                
        // connect to hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to game events             
        hubConnection.On<Game>("GameConnected", async (Game) => {
            // get player on deck, ask first question
            await hubConnection.SendAsync("AskQuestion", Game.Id);
        });

        hubConnection.On<Game, WordPlayQuestion, Player>("QuestionReady", async (game, question, player) => {   
            // reset UI            
            Game = game;
            CurrentQuestion = question;
            CurrentPlayer = player;
            PlayersAnswered = new List<Player>();
            State = GameState.Playing;
            CurrentPlayerScore = 0;
            ScoreShown = 0;
            StatusMessage = "";
            PlayerLove = new Dictionary<Guid, int>();

            // timerRef.ResetTimer();
            // timerRef.StartTimer(30);

            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/whoosh_1.mp3");
            await Task.Delay(750);

            StateHasChanged();

            SpeakPhrase(question.Question);
        });

        hubConnection.On<Game, Player>("QuestionAnswered", async (game, player) => {
            Game = game;
            PlayersAnswered.Add(player);

            await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/{player.Sound}.mp3");

            StateHasChanged();

            if (PlayersAnswered.Count >= Game.Players.Count - 1)
            {
                await AnswersFinished();
            }
        });

        hubConnection.On<Game, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {
            Game = game;
            StatusMessage = phrase.Text;
            StateHasChanged();
            SpeakPhrase(phrase.Text);
        });        
        
        hubConnection.On<bool, Game>("QuestionSummaryStarted", async (timeExpired, game) => {
            StatusMessage = "Time to see how you did";
            Game = game;
            State = GameState.QuestionSummary;
            StateHasChanged();
            var correctQuestions = 0;

            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/tada_1.mp3");

            foreach(var player in PlayersAnswered)
            {
                var playersAnswer = Game.AnsweredQuestions.FirstOrDefault(x => x.Player.Id == player.Id);
                var playerAnswer = playersAnswer?.Answer;
                var currentPlayerAnswer = Game.CurrentPlayerAnswers.FirstOrDefault(x => x.Player.Id == player.Id)?.Answer;

                await Task.Delay(3000);
                ScoreShown++;
                Console.WriteLine($"{playersAnswer.Player.Username} said you would get {playersAnswer.Guess} correct");
                if (playerAnswer == currentPlayerAnswer)
                {
                    correctQuestions++;
                    CurrentPlayerScore = CurrentPlayerScore + (100 * Game.CurrentRound);
                    await PlayRight();
                }
                else
                {
                    await PlayWrong();
                }
                Console.WriteLine("Showed " + player.Username + "'s answer");
                
                StateHasChanged();
            }
            
            await CheckBanterEngineAsync(CurrentPlayerScore, correctQuestions);

            // record score?
            await Task.Delay(4000);            
            await hubConnection.SendAsync("QuestionFinished", Game.Id, CurrentQuestion.Id, CurrentPlayerScore);
        });

        hubConnection.On<Game>("ProceedToNextQuestion", async (game) => {
            State = GameState.SummaryIsEnding;
            StateHasChanged();
            await Task.Delay(700);   
            Game = game;            
            StateHasChanged();
            
            await hubConnection.SendAsync("AskQuestion", Game.Id);
        });

        hubConnection.On<Game>("RoundOver", async (Game) => {
            if(Game.State != GameState.Ended)
            {
                ScoreShown = 0;
                State = GameState.RoundSummary;
                StateHasChanged();

                var leader = Game.Players.OrderByDescending(x => x.Score).FirstOrDefault();

                foreach(var player in Game.Players)
                {
                    ScoreShown++;              
                    StateHasChanged();

                    await Task.Delay(1500);
                }

                if(Game.Players.Where(x => x.Score == leader.Score && x.Id != leader.Id).Count() <= 0)
                {
                    SpeakPhrase($"So far with {leader.Username} is in the lead with {leader.Score} points");
                }
                else
                {
                    var nextPlayer = Game.Players.Skip(1).First();
                    var phrase = (leader.LoveScore > nextPlayer.LoveScore)? $"{nextPlayer.Username} I would have said your name but you don't get as much love" : "It is anybody's game so lets begin the next round";
                    SpeakPhrase(phrase);
                }
                
                await Task.Delay(4500);
                State = GameState.RoundSummary;
                StateHasChanged();

                await Task.Delay(700);

                await hubConnection.SendAsync("AskQuestion", Game.Id);
            }
        });

        hubConnection.On<Game>("GameOver", async (game) => {
            Game = game;
            ScoreShown = 0;
            StatusMessage = "Game Over";
            State = game.State; // GameState.Ending;
            StateHasChanged();

            SpeakPhrase("That wraps up this round of Word Play. Let's check the scores.");
                        
            foreach(var player in Game.Players.OrderBy(x => x.Score))
            {
                ScoreShown++;              
                StateHasChanged();

                await Task.Delay(2000);
            }

            if (Game.State == GameState.Ended)            
            {
                //await Task.Delay(500);            
                //State = GameState.Ended;
                //StateHasChanged();
                
                var winner = Game.Players.OrderByDescending(x => x.Score).FirstOrDefault();

                SpeakPhrase($"With {winner.Score} points, the winner is " + winner.Username);
                Console.WriteLine("winner " + winner.Username);
                await Task.Delay(2000);

                if (Game.Players.Sum(x => x.Score) == 0)
                {
                    SpeakPhrase("But you all need to learn more about each other");
                }
                if (Game.Players.Count(x => x.Score == winner.Score) > 1)
                {
                    var otherWinners = string.Join(", ", Game.Players.Where(x => x.Score == winner.Score && x.Id != winner.Id).Select(x => x.Username).ToArray());
                    SpeakPhrase($"Although there were others in the running. Congratulations, you are all winners {otherWinners}");
                }
                
                await Task.Delay(2500);            
                SpeakPhrase("Wait, who am I kidding, with Charles around we are all winners.  Happy Birthday Charles!");
            }
        }); 
        
        hubConnection.On<Game>("GameReset", async (game) => {
            Game = game;
            await OnGameReset.InvokeAsync(game);
        }); 

        // process the love
        hubConnection.On<Player, Player, AnswerReaction>("ReactionReceived", (fromPlayer, toPlayer, reaction) => {           
            if (PlayerLove.ContainsKey(toPlayer.Id))
            {
                PlayerLove[toPlayer.Id] += 1;
            }
            else
            {
                PlayerLove.Add(toPlayer.Id, 1);
            }
            StateHasChanged();
        });

        // start hub
        await hubConnection.StartAsync();
        
        // update connection and begin!
        await hubConnection.SendAsync("UpdateGameConnectionId", Game.Id);
    }

    public async Task AnswersFinished()
    {        
        // timerRef.ResetTimer();
        State = GameState.PlayerChoosing;
        // Console.WriteLine("Something told me to fire AnswersFinished");
        await hubConnection.SendAsync("AnswersFinished", Game.Id);
        StateHasChanged();
    }

    public void SpeakPhrase(string message)
    {
        if (this.SpeechSynthesis.Speaking)
        {
            this.SpeechSynthesis.Cancel();
        }
        
        this.SpeechSynthesis.Speak(new SpeechSynthesisUtterance() {
            Lang = Game.Voice,
            Text = message
        });
    }
    
    async Task PlayWrong()
    {
        var r = new Random();
        var sound = r.Next(1,5);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/wrong_" + sound + ".mp3");
    }

    async Task PlayRight()
    {
        var r = new Random();
        var sound = r.Next(1,4);
        StateHasChanged();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/right_" + sound + ".mp3");
    }

    async Task CheckBanterEngineAsync(int currentPlayerScore, int correctQuestions)
    {
        var chanceOfBanter = new Random();
        var chance = 65;
        var threshold = 10;
        var spoken = 0;
        var delay = 2500;

        if (chanceOfBanter.Next(100) > chance && currentPlayerScore == 0 && Game.AnsweredQuestions.All(x => x.Guess == 0))
        {
            spoken++;
            SpeakPhrase("Its ok, nobody thought you would get it right");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance && correctQuestions == Game.AnsweredQuestions.Count && Game.AnsweredQuestions.Max(x => x.Guess) < correctQuestions)
        {
            spoken++;
            SpeakPhrase("You exceeded their expectations. Good job.");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance && correctQuestions > 0 && Game.AnsweredQuestions.Any(x => x.Guess == correctQuestions))
        {
            spoken++;
            var correctPlayer = Game.AnsweredQuestions.FirstOrDefault(x => x.Guess == correctQuestions);
            SpeakPhrase($"{correctPlayer.Player.Username} knew you would get that many correct. Points for them!");
            await Task.Delay(1500);
        }
        
        if (!Game.CurrentPlayerAnswers.Any()) {
            SpeakPhrase("Nobody had an answer? Strange...  Ok we will move onto the next question");
            await Task.Delay(1500);
        }

        if (chanceOfBanter.Next(100) > chance)
        {
            spoken++;
            var lovelyPlayer = Game.Players.OrderByDescending(x => x.LoveScore).First();
            if (lovelyPlayer.LoveScore > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"{lovelyPlayer.Username}, they really love you out there" : $"{lovelyPlayer.Username} is feeling the love";
                SpeakPhrase(phrase);
            }
        }
        
        if (chanceOfBanter.Next(100) > chance)
        {
            spoken++;
            var hatedPlayer = Game.Players.OrderByDescending(x => x.HateScore).First();
            if (hatedPlayer.HateScore > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"You guys are giving {hatedPlayer.Username} a lot of crap" : $"{hatedPlayer.Username} may need an umbrella for all that poop";
                SpeakPhrase(phrase);
            }
        }

        if (chanceOfBanter.Next(100) > chance && spoken < 2)
        {
            spoken++;
            var lovingPlayer = Game.Players.OrderByDescending(x => x.LoveReactions).First();
            if (lovingPlayer.LoveReactions > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"{lovingPlayer.Username} is sharing the love" : $"So much love coming from {lovingPlayer.Username}";
                SpeakPhrase(phrase);
            }
        }

        if (chanceOfBanter.Next(100) > chance && spoken < 2)
        {
            var hatingPlayer = Game.Players.OrderByDescending(x => x.HateReactions).First();
            if (hatingPlayer.HateReactions > threshold)
            {
                await Task.Delay(delay);  
                var phrase = (chanceOfBanter.Next(100) > 50)? $"Why so much hate, {hatingPlayer.Username}?" : $"{hatingPlayer.Username} has a lot of poop to spread.";
                SpeakPhrase(phrase);
            }
        }
    }

    public async Task ResetGameAsync()
    {
        Console.WriteLine("Game restart clicked!");
        await hubConnection.SendAsync("ResetGame", Game.Id);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }    
}
