@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using ZoomersClient.Shared.Models.DTOs


<div class="row">
@foreach(var playerAnswer in CurrentPlayerAnswers)
{    
    <div class="col-6">
        <PlayerAnswerButton Player="playerAnswer.Player" Answer="playerAnswer" Selected="@(playerAnswer.Player == SelectedPlayer)" OnClickButton="OnClickPlayer">
            @playerAnswer.Answer
        </PlayerAnswerButton>
    </div>
}
</div>
<hr class="my-4">

<div class="row">
@foreach(var answer in Answers)
{
    <div class="col-5 my-1">
        @answer.Answer
    </div>
    <div class="col-1 my-1" @onclick="@((e) => OnClickSelectAnswer(e, answer))">
        @if(CurrentPlayerAnswers.Any(x => x.Answer == answer.Answer))
        {
            <span class='oi oi-check text-info' aria-hidden="true"></span>
        }
        else
        {
            <span class='oi oi-circle-check @((SelectedAnswer == answer)? "text-success" : "text-secondary")' aria-hidden="true"></span>
        }
        
    </div>
}
</div>

<div class="row my-4">
    <div class="col">
        <button class="btn btn-success w-100 text-center" @onclick="SubmitPlayerAnswers" disabled="@(!Enabled || !Valid)">SUBMIT</button>
    </div>
</div>

<Timer @ref="answerTimerRef" Seconds="30" Class="slide-in-blurred-bottom" TimeEllapsed="SubmitPlayerAnswers"></Timer>

@code {
    [Parameter]
    public List<Player> Players { get; set; }

    public Player SelectedPlayer { get; set; }
    public AnsweredQuestion SelectedAnswer { get; set; }

    [Parameter]
    public bool Enabled { get; set; }
    public bool Valid => CurrentPlayerAnswers.All(x => !string.IsNullOrEmpty(x.Answer));

    [Parameter]
    public List<AnsweredQuestion> Answers { get; set; }
    
    public List<AnsweredQuestion> CurrentPlayerAnswers { get; set; }
        
    [Parameter]
    public EventCallback<List<AnsweredQuestion>> SubmitAnswers { get; set; }

    [Parameter]
    public Player CurrentPlayer { get; set; }

    private Timer answerTimerRef { get; set; }

    protected override async Task OnInitializedAsync()
    {        

        CurrentPlayerAnswers = new List<AnsweredQuestion>();

        if (answerTimerRef != null)
        {
            answerTimerRef.StartTimer();
        }        
        else
        {
            await Task.Delay(1000);
            answerTimerRef.StartTimer();            
        }
    }

    protected override void OnParametersSet()
    {
        base.OnInitialized();

        CurrentPlayerAnswers = Answers.Where(x => x.Player.Id != CurrentPlayer.Id)
            .Select(x => new AnsweredQuestion() { Question = x.Question, Answer = "", Player = x.Player })
            .ToList();   
    }

    public void OnClickPlayer(Player player)
    {
        SelectedPlayer = SelectedPlayer == player? null : player;
        CheckAnswer();
    }

    public void OnClickSelectAnswer(MouseEventArgs eventArgs, AnsweredQuestion answer){
        SelectedAnswer = answer;
        CheckAnswer();
    }

    public void CheckAnswer()
    {
        if (SelectedPlayer != null && SelectedAnswer != null)
        {
            var playerAnswer = CurrentPlayerAnswers.FirstOrDefault(x => x.Player == SelectedPlayer);
            if (playerAnswer != null){
                playerAnswer.Answer = SelectedAnswer.Answer;
            }
            SelectedPlayer = null;
            SelectedAnswer = null;
            StateHasChanged();
        }
    }

    public async Task SubmitPlayerAnswers()
    {
        answerTimerRef.StopTimer();

        // shouldn't have to check this but time ellapsed was firing
        if (Enabled)
        {
            Console.WriteLine("SubmitPlayerAnswers");
            await SubmitAnswers.InvokeAsync(CurrentPlayerAnswers);
        }        
    }
}