@using ZoomersClient.Shared.Models.DTOs

<div class="player-badge @Class">    
    <PlayerIconButton Icon="@Player.Icon" BackgroundColor="@Player.BackgroundColor" Class="rotate-in-center"></PlayerIconButton>    
    <span class="player-badge__username">@Player.Username</span>       
    @if(ChildContent != null)
    {
        <span class="player-badge__content">@ChildContent</span>                 
    }    
</div>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public PlayerDto Player { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}